LoRa-Project-Code/Gateway-Code/Node Red Flows/JSON_1/Flow 1.json
[{"id":"6c605b51.4b6854","type":"mqtt in","z":"21e064a0.75fffc","name":"","topic":"hhoo","qos":"2","broker":"111e6683.6494d9","x":97,"y":107,"wires":[["faf9b767.408da8"]]},{"id":"3915f0d6.b0b68","type":"debug","z":"21e064a0.75fffc","name":"","active":true,"console":"false","complete":"true","x":336,"y":219,"wires":[]},{"id":"faf9b767.408da8","type":"function","z":"21e064a0.75fffc","name":"","func":"var recdMsg = msg.payload.split(':'); \n\nvar sensor0Val = recdMsg[0];\nvar sensor1Val = recdMsg[1];\nvar sensor2Val = recdMsg[2];\n\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"sensor0Val\" : parseInt(sensor0Val),\n        \"sensor1Val\" : parseInt(sensor1Val),\n        \"sensor2Val\" : parseInt(sensor2Val)\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":157,"y":193,"wires":[["3915f0d6.b0b68","514e3e41.d1dbb"]]},{"id":"514e3e41.d1dbb","type":"wiotp out","z":"21e064a0.75fffc","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"9d5bcd86.a6182","deviceType":"","deviceId":"","event":"event","format":"json","name":"To IBM Watson","x":357,"y":91,"wires":[]},{"id":"111e6683.6494d9","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9d5bcd86.a6182","type":"wiotp-credentials","z":"","name":"AidenRasPi3","org":"wbwlnx","devType":"RaspberryPi3ModelB","devId":"AABBCCDDEE "}]