LoRa-Project-Code/Gateway-Code/Node Red Flows/JSON_2/Flow 2.json
[{"id":"38facb8f.cbfaf4","type":"ibmiot in","z":"1d79f78e.31c3b8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"AABBCCDDEE","applicationId":"","deviceType":"RaspberryPi3ModelB","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":148,"y":151,"wires":[["f7d0e536.1d8148","44e87ac5.1a3834"]]},{"id":"f7d0e536.1d8148","type":"cloudant in","z":"1d79f78e.31c3b8","name":"aiden_raspi3_db","cloudant":"","database":"cloudantNoSQLDB","service":"aiden-raspi3-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":566,"y":156,"wires":[[]]},{"id":"44e87ac5.1a3834","type":"debug","z":"1d79f78e.31c3b8","name":"","active":true,"console":"false","complete":"payload","x":527,"y":257,"wires":[]}]