LoRa-Project-Code/Bi-Directional_LED_Toggle/Project_2_One_Master_Multiple_Slave/RasPi3Flow_v0_6.json
[{
	"id": "83d07e42.097b2",
	"type": "serial out",
	"z": "250407b7.84b0c8",
	"name": "",
	"serial": "e14d5f30.de778",
	"x": 570,
	"y": 420,
	"wires": []
},
{
	"id": "ab2a0b99.bfed28",
	"type": "serial in",
	"z": "250407b7.84b0c8",
	"name": "",
	"serial": "e14d5f30.de778",
	"x": 130,
	"y": 120,
	"wires": [["119f890.eab7e77"]]
},
{
	"id": "66835478.8d228c",
	"type": "debug",
	"z": "250407b7.84b0c8",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 590,
	"y": 220,
	"wires": []
},
{
	"id": "bc6097c9.5a74b8",
	"type": "wiotp in",
	"z": "250407b7.84b0c8",
	"authType": "d",
	"deviceKey": "9d5bcd86.a6182",
	"deviceType": "",
	"deviceId": "",
	"command": "+",
	"commandType": "g",
	"name": "from Watson for RP_3_1",
	"x": 170,
	"y": 320,
	"wires": [["506c78a1.d846c8"]]
},
{
	"id": "dd326cf4.a0b1a",
	"type": "debug",
	"z": "250407b7.84b0c8",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 570,
	"y": 320,
	"wires": []
},
{
	"id": "506c78a1.d846c8",
	"type": "json",
	"z": "250407b7.84b0c8",
	"name": "",
	"x": 350,
	"y": 320,
	"wires": [["8a2bb44b.149188"]]
},
{
	"id": "8a2bb44b.149188",
	"type": "function",
	"z": "250407b7.84b0c8",
	"name": "",
	"func": "msg.payload = msg.payload.substring(20,21);\nreturn msg;",
	"outputs": "1",
	"noerr": 0,
	"x": 350,
	"y": 420,
	"wires": [["dd326cf4.a0b1a",
	"83d07e42.097b2"]]
},
{
	"id": "119f890.eab7e77",
	"type": "function",
	"z": "250407b7.84b0c8",
	"name": "",
	"func": "var recdMsg = msg.payload.split(':'); \n\nvar NodeNumber = parseInt(recdMsg[1]);\nvar sensor0Val = parseInt(recdMsg[2]);\nvar sensor1Val = parseInt(recdMsg[3]);\nvar sensor2Val = parseInt(recdMsg[4]);\n\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"NodeNumber\" : NodeNumber,\n        \"sensor0Val\" : sensor0Val,\n        \"sensor1Val\" : sensor1Val,\n        \"sensor2Val\" : sensor2Val,\n      },\n    }\n  )\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 290,
	"y": 120,
	"wires": [["55a03abd.f35c44"]]
},
{
	"id": "74458a04.92ac14",
	"type": "wiotp out",
	"z": "250407b7.84b0c8",
	"authType": "d",
	"qs": "false",
	"qsDeviceId": "",
	"deviceKey": "9d5bcd86.a6182",
	"deviceType": "",
	"deviceId": "",
	"event": "event",
	"format": "json",
	"name": "To IBM Watson",
	"x": 600,
	"y": 120,
	"wires": []
},
{
	"id": "55a03abd.f35c44",
	"type": "json",
	"z": "250407b7.84b0c8",
	"name": "",
	"x": 430,
	"y": 120,
	"wires": [["66835478.8d228c",
	"74458a04.92ac14"]]
},
{
	"id": "e14d5f30.de778",
	"type": "serial-port",
	"z": "",
	"serialport": "/dev/ttyACM0",
	"serialbaud": "57600",
	"databits": "8",
	"parity": "none",
	"stopbits": "1",
	"newline": "\\n",
	"bin": "false",
	"out": "char",
	"addchar": false
},
{
	"id": "9d5bcd86.a6182",
	"type": "wiotp-credentials",
	"z": "",
	"name": "RP_3_1",
	"org": "9p5f6g",
	"devType": "RP_3",
	"devId": "RP_3_1"
}][{
	"id": "83d07e42.097b2",
	"type": "serial out",
	"z": "250407b7.84b0c8",
	"name": "",
	"serial": "e14d5f30.de778",
	"x": 570,
	"y": 420,
	"wires": []
},
{
	"id": "ab2a0b99.bfed28",
	"type": "serial in",
	"z": "250407b7.84b0c8",
	"name": "",
	"serial": "e14d5f30.de778",
	"x": 130,
	"y": 120,
	"wires": [["119f890.eab7e77"]]
},
{
	"id": "66835478.8d228c",
	"type": "debug",
	"z": "250407b7.84b0c8",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 590,
	"y": 220,
	"wires": []
},
{
	"id": "bc6097c9.5a74b8",
	"type": "wiotp in",
	"z": "250407b7.84b0c8",
	"authType": "d",
	"deviceKey": "9d5bcd86.a6182",
	"deviceType": "",
	"deviceId": "",
	"command": "+",
	"commandType": "g",
	"name": "from Watson for RP_3_1",
	"x": 170,
	"y": 320,
	"wires": [["506c78a1.d846c8"]]
},
{
	"id": "dd326cf4.a0b1a",
	"type": "debug",
	"z": "250407b7.84b0c8",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 570,
	"y": 320,
	"wires": []
},
{
	"id": "506c78a1.d846c8",
	"type": "json",
	"z": "250407b7.84b0c8",
	"name": "",
	"x": 350,
	"y": 320,
	"wires": [["8a2bb44b.149188"]]
},
{
	"id": "8a2bb44b.149188",
	"type": "function",
	"z": "250407b7.84b0c8",
	"name": "",
	"func": "msg.payload = msg.payload.substring(20,21);\nreturn msg;",
	"outputs": "1",
	"noerr": 0,
	"x": 350,
	"y": 420,
	"wires": [["dd326cf4.a0b1a",
	"83d07e42.097b2"]]
},
{
	"id": "119f890.eab7e77",
	"type": "function",
	"z": "250407b7.84b0c8",
	"name": "",
	"func": "var recdMsg = msg.payload.split(':'); \n\nvar NodeNumber = parseInt(recdMsg[1]);\nvar sensor0Val = parseInt(recdMsg[2]);\nvar sensor1Val = parseInt(recdMsg[3]);\nvar sensor2Val = parseInt(recdMsg[4]);\n\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"NodeNumber\" : NodeNumber,\n        \"sensor0Val\" : sensor0Val,\n        \"sensor1Val\" : sensor1Val,\n        \"sensor2Val\" : sensor2Val,\n      },\n    }\n  )\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 290,
	"y": 120,
	"wires": [["55a03abd.f35c44"]]
},
{
	"id": "74458a04.92ac14",
	"type": "wiotp out",
	"z": "250407b7.84b0c8",
	"authType": "d",
	"qs": "false",
	"qsDeviceId": "",
	"deviceKey": "9d5bcd86.a6182",
	"deviceType": "",
	"deviceId": "",
	"event": "event",
	"format": "json",
	"name": "To IBM Watson",
	"x": 600,
	"y": 120,
	"wires": []
},
{
	"id": "55a03abd.f35c44",
	"type": "json",
	"z": "250407b7.84b0c8",
	"name": "",
	"x": 430,
	"y": 120,
	"wires": [["66835478.8d228c",
	"74458a04.92ac14"]]
},
{
	"id": "e14d5f30.de778",
	"type": "serial-port",
	"z": "",
	"serialport": "/dev/ttyUSB0",
	"serialbaud": "57600",
	"databits": "8",
	"parity": "none",
	"stopbits": "1",
	"newline": "\\n",
	"bin": "false",
	"out": "char",
	"addchar": false
},
{
	"id": "9d5bcd86.a6182",
	"type": "wiotp-credentials",
	"z": "",
	"name": "RP_3_1",
	"org": "9p5f6g",
	"devType": "RP_3",
	"devId": "RP_3_1"
}]