LoRa-Project-Code/Gateway-Code/Node Red Flows/Flow 2 for IBM Rev 1.json
[{"id":"1d79f78e.31c3b8","type":"tab","label":"Flow 2"},{"id":"44e87ac5.1a3834","type":"debug","z":"1d79f78e.31c3b8","name":"","active":false,"console":"false","complete":"true","x":462,"y":200,"wires":[]},{"id":"44c62481.ab434c","type":"ibmiot in","z":"1d79f78e.31c3b8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"RP3_D1","applicationId":"","deviceType":"RP3","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":183,"y":174,"wires":[["44e87ac5.1a3834","58e213e5.a61fcc","4f6cc9bd.35ca38"]]},{"id":"58e213e5.a61fcc","type":"cloudant out","z":"1d79f78e.31c3b8","name":"","cloudant":"","database":"aiden_raspi3_db","service":"aiden-raspi3-cloudantNoSQLDB","payonly":false,"operation":"insert","x":531,"y":410,"wires":[]},{"id":"4f6cc9bd.35ca38","type":"debug","z":"1d79f78e.31c3b8","name":"","active":true,"console":"false","complete":"payload","x":590,"y":302,"wires":[]}]