LoRa-Project-Code/Gateway-Code/Node Red Flows/Flow 1 for RP3 Rev 1.json
[{"id":"21e064a0.75fffc","type":"tab","label":"Flow 1"},{"id":"6c605b51.4b6854","type":"mqtt in","z":"21e064a0.75fffc","name":"","topic":"hhoo","qos":"2","broker":"111e6683.6494d9","x":97,"y":107,"wires":[["faf9b767.408da8"]]},{"id":"3915f0d6.b0b68","type":"debug","z":"21e064a0.75fffc","name":"","active":true,"console":"false","complete":"payload","x":356,"y":219,"wires":[]},{"id":"faf9b767.408da8","type":"function","z":"21e064a0.75fffc","name":"","func":"var recdMsg = msg.payload.split(':'); \n\nvar sensor0Val = parseInt(recdMsg[0]);\nvar sensor1Val = parseInt(recdMsg[1]);\nvar sensor2Val = parseInt(recdMsg[2]);\n\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"sensor0Val\" : sensor0Val,\n        \"sensor1Val\" : sensor1Val,\n        \"sensor2Val\" : sensor2Val,\n      },\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":157,"y":193,"wires":[["3915f0d6.b0b68","514e3e41.d1dbb"]]},{"id":"514e3e41.d1dbb","type":"wiotp out","z":"21e064a0.75fffc","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"9d5bcd86.a6182","deviceType":"","deviceId":"","event":"event","format":"json","name":"To IBM Watson","x":357,"y":91,"wires":[]},{"id":"111e6683.6494d9","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9d5bcd86.a6182","type":"wiotp-credentials","z":"","name":"AidenRasPi3","org":"e3h9r8","devType":"RP3","devId":"RP3_D1"}]