LoRa-Project-Code/Bi-Directional_LED_Toggle/Project_1_Bi-directional_LED_Blink/IBMBluemixFlow_v0_4.json
[{
	"id": "f0d0f9a7.f0ee88",
	"type": "http in",
	"z": "50afcad6.ec0204",
	"name": "",
	"url": "/led",
	"method": "get",
	"swaggerDoc": "",
	"x": 120,
	"y": 400,
	"wires": [["3ad00f18.cd21c"]]
},
{
	"id": "446c11f3.cd122",
	"type": "http response",
	"z": "50afcad6.ec0204",
	"name": "",
	"x": 430,
	"y": 300,
	"wires": []
},
{
	"id": "3ad00f18.cd21c",
	"type": "function",
	"z": "50afcad6.ec0204",
	"name": "",
	"func": "//msg.payload = msg.req.query.state;\n//return msg;\n\nmsg.payload = \"{\\\"d\\\":{\\\"sensor2val\\\":\\\"\"+msg.req.query.state+\"\\\"}}\";\nreturn msg;\n\n/*\nmsg.payload = \"21:31:41\";\n\nvar recdMsg = msg.payload.split(':'); \n\nvar sensor0Val = parseInt(recdMsg[0]);\nvar sensor1Val = parseInt(recdMsg[1]);\nvar sensor2Val = parseInt(recdMsg[2]);\n\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"sensor0Val\" : sensor0Val,\n        \"sensor1Val\" : sensor1Val,\n        \"sensor2Val\" : sensor2Val,\n      },\n    }\n  )\n};\nreturn msg;\n*/",
	"outputs": 1,
	"noerr": 0,
	"x": 250,
	"y": 400,
	"wires": [["446c11f3.cd122",
	"3f4c3071.58231",
	"9db1b087.b07ec"]]
},
{
	"id": "3f4c3071.58231",
	"type": "debug",
	"z": "50afcad6.ec0204",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 450,
	"y": 500,
	"wires": []
},
{
	"id": "9db1b087.b07ec",
	"type": "json",
	"z": "50afcad6.ec0204",
	"name": "",
	"x": 430,
	"y": 400,
	"wires": [["5d117bb0.ec4524"]]
},
{
	"id": "5d117bb0.ec4524",
	"type": "ibmiot out",
	"z": "50afcad6.ec0204",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "B82288228822",
	"deviceType": "RaspberryPi",
	"eventCommandType": "onoff",
	"format": "json",
	"data": "sensor2val",
	"qos": 0,
	"name": "to sidRasPi3",
	"service": "registered",
	"x": 610,
	"y": 400,
	"wires": []
},
{
	"id": "d8489fa4.781d6",
	"type": "ibmiot in",
	"z": "50afcad6.ec0204",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "B82288228822",
	"applicationId": "",
	"deviceType": "RaspberryPi",
	"eventType": "+",
	"commandType": "",
	"format": "json",
	"name": "sidRasPi3",
	"service": "registered",
	"allDevices": "",
	"allApplications": "",
	"allDeviceTypes": "",
	"allEvents": true,
	"allCommands": "",
	"allFormats": "",
	"qos": 0,
	"x": 120,
	"y": 120,
	"wires": [["d2e1162e.f3fe78",
	"2aaa32e9.9fad0e"]]
},
{
	"id": "d2e1162e.f3fe78",
	"type": "debug",
	"z": "50afcad6.ec0204",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 450,
	"y": 120,
	"wires": []
},
{
	"id": "2aaa32e9.9fad0e",
	"type": "cloudant out",
	"z": "50afcad6.ec0204",
	"name": "",
	"cloudant": "",
	"database": "my_test_app_db",
	"service": "sid1stapp-cloudantNoSQLDB",
	"payonly": true,
	"operation": "insert",
	"x": 470,
	"y": 200,
	"wires": []
}]