LoRa-Project-Code/Bi-Directional_LED_Toggle/Project_1_Bi-directional_LED_Blink/RasPi3Flow_v0_4.json
[{
	"id": "86c2ef67.6e0f4",
	"type": "serial out",
	"z": "9388e78a.cc5a38",
	"name": "",
	"serial": "e14d5f30.de778",
	"x": 550,
	"y": 380,
	"wires": []
},
{
	"id": "93a07d73.e3ef9",
	"type": "serial in",
	"z": "9388e78a.cc5a38",
	"name": "",
	"serial": "e14d5f30.de778",
	"x": 110,
	"y": 80,
	"wires": [["aff2bcfe.e4b45"]]
},
{
	"id": "abde46bf.cf2bb8",
	"type": "debug",
	"z": "9388e78a.cc5a38",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 570,
	"y": 180,
	"wires": []
},
{
	"id": "56f45806.d0a678",
	"type": "wiotp in",
	"z": "9388e78a.cc5a38",
	"authType": "d",
	"deviceKey": "9d5bcd86.a6182",
	"deviceType": "",
	"deviceId": "",
	"command": "+",
	"commandType": "g",
	"name": "from Watson for sidRasPi3",
	"x": 150,
	"y": 280,
	"wires": [["82be0d49.6305d"]]
},
{
	"id": "7f6ff2c7.6edfac",
	"type": "debug",
	"z": "9388e78a.cc5a38",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 550,
	"y": 280,
	"wires": []
},
{
	"id": "82be0d49.6305d",
	"type": "json",
	"z": "9388e78a.cc5a38",
	"name": "",
	"x": 330,
	"y": 280,
	"wires": [["a3b97f0.f41698"]]
},
{
	"id": "a3b97f0.f41698",
	"type": "function",
	"z": "9388e78a.cc5a38",
	"name": "",
	"func": "msg.payload = msg.payload.substring(20,21);\nreturn msg;",
	"outputs": "1",
	"noerr": 0,
	"x": 330,
	"y": 380,
	"wires": [["7f6ff2c7.6edfac",
	"86c2ef67.6e0f4"]]
},
{
	"id": "aff2bcfe.e4b45",
	"type": "function",
	"z": "9388e78a.cc5a38",
	"name": "",
	"func": "var recdMsg = msg.payload.split(':'); \n\nvar sensor0Val = parseInt(recdMsg[2]);\nvar sensor1Val = parseInt(recdMsg[3]);\nvar sensor2Val = parseInt(recdMsg[4]);\n\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"sensor0Val\" : sensor0Val,\n        \"sensor1Val\" : sensor1Val,\n        \"sensor2Val\" : sensor2Val,\n      },\n    }\n  )\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 270,
	"y": 80,
	"wires": [["787825c7.f5f28c"]]
},
{
	"id": "55e12f9f.dc529",
	"type": "wiotp out",
	"z": "9388e78a.cc5a38",
	"authType": "d",
	"qs": "false",
	"qsDeviceId": "",
	"deviceKey": "9d5bcd86.a6182",
	"deviceType": "",
	"deviceId": "",
	"event": "event",
	"format": "json",
	"name": "To IBM Watson",
	"x": 580,
	"y": 80,
	"wires": []
},
{
	"id": "787825c7.f5f28c",
	"type": "json",
	"z": "9388e78a.cc5a38",
	"name": "",
	"x": 410,
	"y": 80,
	"wires": [["abde46bf.cf2bb8",
	"55e12f9f.dc529"]]
},
{
	"id": "e14d5f30.de778",
	"type": "serial-port",
	"z": "",
	"serialport": "/dev/ttyACM0",
	"serialbaud": "57600",
	"databits": "8",
	"parity": "none",
	"stopbits": "1",
	"newline": "\\n",
	"bin": "false",
	"out": "char",
	"addchar": false
},
{
	"id": "9d5bcd86.a6182",
	"type": "wiotp-credentials",
	"z": "",
	"name": "sidRasPi3",
	"org": "dfgttr",
	"devType": "RaspberryPi",
	"devId": "B82288228822"
}]